
@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/Main .css">
</head>
<div class="body">
    <div class="Article">

    </div>
    <div class="Article">

    </div>
    <div class="Article">

    </div>
    <div class="Article">

    </div>
    <div class="Article">

    </div>
</div>

