<!Doctype html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Main .css">
</head>
<body>
    <header>
        <div class="head">
            <div class="logo">
                <h1 class="logoText">JustFood</h1>
            </div>
            <div class="menu">
                <ul>
                    <li class="menuLi">asd</li>
                    <li class="menuLi">asd</li>
                    <li class="menuLi">asd</li>
                    <li class="menuLi">asd</li>
                </ul>
            </div>
        </div>
    </header>
    <div class="body">
        <div class="Article">

        </div>
        <div class="Article">

        </div>
        <div class="Article">

        </div>
        <div class="Article">

        </div>
        <div class="Article">

        </div>
    </div>
</body>
</html>
